/* MAIN APP GENERAL STYLING */
.mainapp {
  @apply w-full h-full 2xl:max-w-screen-xl;
  @apply flex flex-row flex-nowrap;
  @apply relative;
}

.mainapp-content_container {
  @apply w-full;
  @apply flex flex-row flex-nowrap;
  @apply overflow-y-scroll;
  @apply relative;
}

.section1,
.section2 {
  @apply h-full flex-shrink-0;
  @apply overscroll-contain;
}

.section1 {
  @apply w-full md:w-10/12 lg:w-8/12;
}
.section2 {
  @apply hidden md:block;
  @apply lg:w-4/12;
  @apply border-l border-darkModeBorder;
  @apply sticky top-0;
  @apply overflow-y-scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.section2::-webkit-scrollbar {
  display: none;
}

/* BUTTON STYLES */

.button-dark {
  @apply hover:bg-black hover:text-white hover:border-white;
}
.button-dim {
  @apply hover:bg-dim hover:text-white hover:border-white;
}
.button-light {
  @apply hover:bg-white hover:text-black hover:border-black;
}

.button-yellow,
.button-lightBlue,
.button-pink,
.button-purple,
.button-orange,
.button-green {
  @apply text-white;
  @apply rounded-full;
  @apply border border-transparent;
}

.button-lightBlue {
  @apply bg-lightBlue;
}

.button-pink {
  @apply bg-pinkTheme;
}

.button-purple {
  @apply bg-purpleTheme;
}
.button-orange {
  @apply bg-orangeTheme;
}
.button-green {
  @apply bg-greenTheme;
}

.button-yellow {
  @apply bg-yellowTheme text-white;
}

/* BACK BUTTON */

.backButton {
  @apply w-max;
  height: max-content;
  @apply p-3;
  @apply rounded-full;
  @apply cursor-pointer;
}

/* SOCIALS  STYLES*/
.socials {
  @apply flex flex-col gap-5 pt-4 items-center;
}

.mainapp_home-socials {
  @apply flex md:flex-col lg:flex-row gap-2;
}

.socials_button {
  @apply px-4 py-2 w-max font-semibold;
}

.social-container {
  @apply text-xl;
  @apply w-max;
  @apply cursor-pointer rounded-full;
  @apply p-2;
  @apply relative;
  @apply flex flex-row items-center gap-3;
  @apply capitalize;
}
.social-tooltip {
  @apply absolute;
  @apply top-full left-1/2 z-30 transform -translate-x-1/2;
  transform: translateX(-50%);
  @apply mt-1 p-1;
  @apply w-max;
  @apply text-center;
  @apply text-xs;
  @apply text-white;
  @apply bg-darkModeBorder opacity-100 rounded-md;
  @apply capitalize;
}
.github-dark {
  @apply hover:text-textDark hover:bg-white;
}
.github-light {
  @apply text-textDark hover:text-white hover:bg-textDark;
}

.hoverTheme-lightBlue {
  @apply hover:text-white hover:bg-lightBlue;
}
.hoverTheme-pink {
  @apply hover:text-white hover:bg-pinkTheme;
}
.hoverTheme-purple {
  @apply hover:text-white hover:bg-purpleTheme;
}
.hoverTheme-orange {
  @apply hover:text-white hover:bg-orangeTheme;
}
.hoverTheme-green {
  @apply hover:text-white hover:bg-greenTheme;
}
.hoverTheme-yellow {
  @apply hover:text-white hover:bg-yellowTheme;
}

.twitter {
  @apply hover:text-white hover:bg-lightBlue;
}

.linkedin {
  @apply hover:text-white hover:bg-linkedIn;
}

/* Profile Main Styles */

.profile-main {
  @apply w-full h-full;
  /* @apply mb-44 md:mb-0; */
}
.profile-main_nav {
  @apply flex flex-row gap-3 items-center;
  @apply border-b border-darkModeBorder;
}
.profile-main_container {
  @apply px-4 pt-2 pb-2;
}
.profile-main_nav-text {
  @apply flex flex-col flex-nowrap;
}
.profile-main_nav-text-name {
  @apply font-semibold;
  @apply text-xl;
}
.profile-main_nav-text-role {
  @apply font-light;
  @apply text-sm;
}

.profile-main-content_header-images {
  @apply relative;
  @apply sm:h-auto md:h-36 lg:h-52;
}
.profile-main-content_header-images_header {
  @apply w-full h-full;
  @apply overflow-hidden;
  @apply cursor-pointer;
}
.profile-main-content_header-images_header img {
  @apply h-full w-full;
  @apply object-cover;
}

.profile-main-content_header-images_profile {
  @apply absolute;
  @apply bottom-0 left-4 transform translate-y-3/4 md:translate-y-2/3  lg:translate-y-1/2;
  @apply w-24 sm:w-28 md:w-28 lg:w-28;
  @apply border-4;
  @apply rounded-full;
  @apply overflow-hidden;
  @apply cursor-pointer;
}
.profile-main-content_header-images_profile img {
  @apply shadow-md;
}
.profile-main-content_header-main {
  @apply px-4 pt-12 md:pt-12 lg:pt-6 xl:pt-10 2xl:pt-12;
  @apply flex flex-col;
}
.profile-main-content_button {
  @apply py-2 px-4 self-end;
  @apply font-semibold;
}

.profile-main-content_header-info {
  @apply flex flex-col flex-nowrap;
}

.profile-main-content_header-info_name {
  @apply text-lg font-extrabold;
}

.profile-main-content_header-info_nickname {
  @apply text-sm font-light;
}
.profile-main-content_header-info_desc {
  @apply pt-4 leading-5;
}
.profile-main-content_header-info_location {
  @apply pt-4 flex flex-row gap-1 items-end;
  @apply text-xs;
}
.profile-main-content_header-info_location svg {
  @apply text-xl;
}

/* PROFILE NAV STYLES */

.profile-nav {
  @apply grid grid-cols-2 justify-items-stretch pt-6;
}

.profile_nav_light {
  @apply hover:bg-gray-200;
}

.profile_nav_dim {
  @apply hover:bg-gray-800;
}

.profile_nav_dark {
  @apply hover:bg-darkModeBorder;
}

.profile-nav-item {
  @apply flex items-center justify-center;
}

.profile-nav-item_main {
  @apply py-4;
  @apply relative;
  @apply flex flex-row items-center gap-2;
  @apply text-lg;
}

.profile-nav-item_active {
  @apply absolute inset-x-0 bottom-0;
  @apply h-1;
  @apply rounded-full;
  @apply w-full;
}
/* THEMED BORDER STYLES */

.border-dark {
  @apply border-black;
}

.border-light {
  @apply border-white;
}

/* Home styles */
.mainapp_home {
  @apply flex flex-col gap-6;
  @apply font-light;
}

.mainapp_home_container {
  @apply px-4 pb-20 md:pb-6;
}
.mainapp_home-header {
  @apply flex flex-col md:flex-row gap-2 items-center md:items-end;
  @apply pt-4 pb-0;
}

.mainapp_home-header_img {
  border-radius: 30% 100% 30% 100% / 100% 100% 85% 100%;
  @apply overflow-hidden;
  @apply w-8/12 md:w-4/12 lg:w-2/6;
}
.mainapp_home-header_intro {
  @apply w-5/6 lg:w-4/6;
  @apply flex flex-col flex-nowrap justify-end gap-2;
  @apply text-center font-normal;
}

.mainapp_home-header_intro_greet {
  @apply text-2xl md:text-3xl lg:text-4xl font-extralight;
}

.mainapp_home-header_intro_name {
  @apply text-xl sm:text-2xl md:text-2xl lg:text-3xl font-extralight;
}

.mainapp_home-header_intro_name_text {
  @apply font-medium;
}

.mainapp_home_desc {
  @apply text-lg;
}

.mainapp_home-contact {
  @apply w-max;
  @apply pt-4 mx-auto md:mx-0;
}

.mainapp_home-contact-btn {
  @apply px-4 py-3;
}

/* CONTACT MODAL */

.contact-modal {
  @apply absolute inset-0;
  @apply w-full h-full;
  @apply z-50;
  @apply bg-black bg-opacity-50;
  @apply flex items-center justify-center;
}

.contact-modal_container {
  @apply shadow-2xl;
  @apply w-10/12 md:w-9/12 lg:w-6/12;
  @apply rounded-md;
  @apply p-4 py-6;
  @apply text-center;
}

.contact-modal_prompt {
  @apply text-2xl;
}

.contact-modal_close {
  @apply w-max;
  @apply text-2xl;
  @apply ml-auto;
  @apply cursor-pointer;
}
